/*write some responsive code here */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .atom-header {
    top: 20px;
  }

  .main-wrapper {
    padding: 30px 0;
  }

  .page-section {
    padding-top: 30px;
    max-height: 270px;
  }

  .atom-footer {
    bottom: 10px;
  }
}
/* Landscape phones and smaller */
/* portrait phones */
